body{
    background-color: #11ff11;
}
tr{
    background-color: gray;
}
th{
    background-color: black;
    color: #11ff11;
}
.fallo{
    background-color: red;
}

.exito{
    background-color: green;
}

.diferente{
    background-color: yellow;
}
hr{
    color:black;
    size: 5px;
    width: 1360px;
    text-align: center;
}
.centrado{
    text-align: center;
}
#tabla{
    text-align: center;
    color: black;
}