
 body{
   background-image: url("../img/fondo2.jpg");
 }
 li{
   color: azure;
 }
 ol{
   color: chartreuse;
 }
 .lista {
   color: #FFFFFF;
   font-size: 20px;

 }
 .resenia{
   color: #ffffff;
   font-size: 16px;
   border-top-width: 5px;
   text-align: center;
   width: 1100px;
    }
 h1{
   text-decoration-color: #ffffff;
   color:#ffffff;
   text-orientation: unset;
   text-align: center;
 }
 h2{
   color:#ffffff;
   text-align: center;
 }
 p{
   text-align: center;
   color: white;
 }
 .c{
   text-align: center;
 }

 .primerletra{
   font-size: 25px;
   font-weight: 10px;
 }
 .verso{
   font-size: 15px;
   font-style: oblique;
 }
 .redirecciona{
   text-align: center;
   background-color: black;
   border-block-start-style: solid;
   border-top-left-radius: 40px;
   border-top-right-radius: 40px;
   font-size: 30px;
 }
 .rr{
   font-size: 22px;
   font-style: initial;
   color: red;
 }
.global {
	 height: 500px;
   width: 1100px;
   overflow: auto;
   color: white;
}
.titulo{
  height: 80px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-block-start-color: chartreuse;
  border-block-end-color: aqua;
  background-color: black;
  text-align: center;
  font-size: 60px;
   width: 1200px;
}
.com{
  height: 40px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-block-start-color: chartreuse;
  border-block-end-color: aqua;
  background-color: black;
  text-align: center;
  color: azure;
  font-size: 40px;
   width: 1200px;
}
#red{
  height: 140px;
}
#img{
  width: 500px;
  height: 500px;
}